* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #ecf2f8;
}

.main {
  padding: 71px 24px;
}

@media only screen and (min-width: 1150px) {
  .main {
    display: grid;
    justify-content: center;

    grid-template-columns: repeat(4, minmax(0, 255px));
    grid-template-rows: minmax(0, 282px) minmax(0, 266px);

    column-gap: 30px;
    row-gap: 24px;
  }
}
